@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 5rem 10rem;
}

.heading {
  color: black;
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  color: black;
  margin: 1rem;
  font-size: 1.5rem;
}

.icons {
  margin: 1.5rem 1rem;
  font-size: 2rem;
}

i {
  cursor: pointer;
  margin-right: 1rem;
}
