@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url(/images/donate-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.content-box {
  width: 50rem;
  height: 35rem;
  background-color: rgb(253, 242, 252);
  opacity: 0.9;
  border-radius: 25px;
  text-align: center;
  padding: 4rem;
}

.content-head {
  font-weight: bolder;
  font-size: 3.5rem;
  color: rgb(237, 18, 171);
  margin-bottom: 4rem;
}

p {
  font-size: large;
  margin: 5rem 0rem;
  color: black;
}
